@import "tailwindcss";

:root {
  --font-poppins: "Poppins", system-ui, sans-serif;

  /* Golden Scrollbar Theme */
  --scrollbar-thumb: #d4af37;
  --scrollbar-thumb-hover: #b8901f;
  --scrollbar-track: transparent;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}